/* You can add global styles to this file, and also import other style files */

base styles
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

.block {
  display:block;
}

.center {
  align-self:center;
  margin:auto;
}

.hoverPointer {
  cursor:pointer;
}

label.imitationButton {
  padding:1rem 2rem 1rem 2rem;
  color:white;
  background-color:black;
  margin:2rem;
}
